#Files I'm Adding

#This file cannot be staged, thus not committed. It isn't neccessary to run, I deleted mine and it generated a new one, so
#this file doesn't need to be tracked
*.VC.VC.opendb
*.VC.db


# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app