#Files I'm Adding
*.VC.VC.opendb
*.VC.db
*.log
*.tlog
*.idb
*.suo

#These files store configurations for VS
*.vcxproj
*.vcxproj.filters

#because of http://stackoverflow.com/questions/846639/git-ignore-file-for-c-projects
*.swp
#thumbs.db
*.so
*.dll


# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app